In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn

from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics 
from sklearn.metrics import classification_report

In [2]:
df=pd.read_csv('loan_data.csv')

In [3]:
df.sample(15)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
5423,1,credit_card,0.1287,336.34,11.314475,12.67,697,3959.958333,33896,72.7,3,0,0,0
7395,1,debt_consolidation,0.1025,161.93,11.661345,18.61,707,6510.041667,44229,75.7,0,0,0,0
8715,0,debt_consolidation,0.1286,252.20,10.422281,8.93,667,1719.000000,5528,87.7,4,0,0,1
4955,1,debt_consolidation,0.1531,417.79,10.819858,5.59,667,1830.000000,6804,74.0,1,0,0,0
1231,1,credit_card,0.1317,251.64,10.918022,10.81,667,2820.000000,6413,81.2,1,0,0,0
2901,1,all_other,0.1284,168.09,10.970024,0.23,767,3630.000000,11,0.1,0,0,0,1
6896,1,credit_card,0.1136,493.67,10.819778,4.10,767,3799.041667,5694,21.2,2,0,0,0
7483,1,all_other,0.1348,169.63,11.002100,6.52,682,1680.041667,14281,65.2,0,0,0,0
6064,1,all_other,0.1878,803.99,10.555813,9.69,662,1290.041667,12863,37.9,1,0,0,0
6661,1,small_business,0.1913,550.81,11.736069,9.96,687,4561.041667,12730,95.0,1,0,0,0
1916,1,all_other,0.1253,127.18,11.002100,20.14,687,4140.041667,27759,71.7,1,0,0,1
2945,1,credit_card,0.2086,902.54,11.690653,20.92,667,6300.041667,45414,98.3,0,1,0,0
1363,1,all_other,0.0907,210.10,10.373616,1.84,742,2680.000000,4889,10.7,1,0,0,1
7170,1,small_business,0.1422,342.85,10.714418,4.51,692,3420.041667,9696,66.4,0,0,0,0
2824,1,debt_consolidation,0.1726,150.30,10.668955,12.31,662,2669.958333,9753,95.9,1,0,0,0

In [4]:
pmap={'small_business':1,'all_other':2,'credit_card':3,'debt_consolidation':4,'educational':5,'home_improvement':6,'major_purchase':7}

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
df['purpose']=df['purpose'].map(pmap).astype(int)

In [7]:
df.sample(15)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
6987,1,5,0.1461,344.76,11.041321,8.46,712,4920.041667,3088,14.1,1,0,0,0
4922,1,6,0.1183,516.89,11.225243,17.26,732,5880.000000,256,1.7,0,0,1,0
1223,1,2,0.1286,504.40,10.865134,18.14,677,11129.958330,12836,31.3,0,2,0,0
2034,1,1,0.1663,354.70,11.350407,15.61,662,5528.958333,66526,93.6,3,0,0,0
4382,1,3,0.1392,54.62,11.184421,17.65,667,3960.000000,40106,80.4,0,0,0,0
1854,1,2,0.1189,165.82,10.714418,5.47,702,2940.000000,452,12.6,2,0,0,0
2118,1,3,0.1474,328.10,10.748798,19.81,672,7050.041667,28594,67.0,2,0,0,0
3267,1,4,0.1347,542.77,11.608272,21.82,687,5015.000000,64362,47.7,0,0,0,0
890,1,4,0.1387,388.91,11.002100,24.48,712,10110.000000,44293,73.6,0,0,0,0
1893,1,2,0.1505,260.19,11.379394,9.08,667,6930.000000,55163,93.7,0,0,0,0
1462,1,1,0.1178,331.10,10.805760,17.67,722,3599.958333,27496,33.4,1,0,0,0
2035,1,1,0.1600,263.68,10.819778,22.13,677,2580.000000,16767,46.2,0,0,0,0
8298,0,4,0.1545,348.87,10.778956,13.38,642,2400.041667,24979,94.6,4,0,0,0
319,1,2,0.1362,339.94,10.809728,1.21,672,2519.000000,0,0.0,0,1,0,0
7894,0,2,0.1407,205.27,10.491274,0.00,647,5879.000000,0,0.0,0,2,0,1

In [88]:
X=df[['int.rate','inq.last.6mths']]

In [89]:
X_train, X_test, y_train, y_test =train_test_split(X,df['not.fully.paid'], test_size=0.30)

In [90]:
from sklearn.tree import DecisionTreeClassifier

In [91]:
dtree=DecisionTreeClassifier()

In [92]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [93]:
pr=dtree.predict(X_test)

In [94]:
dtree.score(X_train,y_train)

0.8687350835322196

In [95]:
dtree.score(X_test,y_test)

0.837508698677801

In [61]:
df.corr()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
credit.policy,1.000000,0.024402,-0.294089,0.058770,0.034906,-0.090901,0.348319,0.099026,-0.187518,-0.104095,-0.535511,-0.076318,-0.054243,-0.158119
purpose,0.024402,1.000000,-0.042980,0.007168,-0.005125,0.020044,-0.008355,0.013769,-0.048909,-0.000860,-0.006826,-0.008616,0.012115,-0.044152
int.rate,-0.294089,-0.042980,1.000000,0.276140,0.056383,0.220006,-0.714821,-0.124022,0.092527,0.464837,0.202780,0.156079,0.098162,0.159552
installment,0.058770,0.007168,0.276140,1.000000,0.448102,0.050202,0.086039,0.183297,0.233625,0.081356,-0.010419,-0.004368,-0.032760,0.049955
log.annual.inc,0.034906,-0.005125,0.056383,0.448102,1.000000,-0.054065,0.114576,0.336896,0.372140,0.054881,0.029171,0.029203,0.016506,-0.033439
dti,-0.090901,0.020044,0.220006,0.050202,-0.054065,1.000000,-0.241191,0.060101,0.188748,0.337109,0.029189,-0.021792,0.006209,0.037362
fico,0.348319,-0.008355,-0.714821,0.086039,0.114576,-0.241191,1.000000,0.263880,-0.015553,-0.541289,-0.185293,-0.216340,-0.147592,-0.149666
days.with.cr.line,0.099026,0.013769,-0.124022,0.183297,0.336896,0.060101,0.263880,1.000000,0.229344,-0.024239,-0.041736,0.081374,0.071826,-0.029237
revol.bal,-0.187518,-0.048909,0.092527,0.233625,0.372140,0.188748,-0.015553,0.229344,1.000000,0.203779,0.022394,-0.033243,-0.031010,0.053699
revol.util,-0.104095,-0.000860,0.464837,0.081356,0.054881,0.337109,-0.541289,-0.024239,0.203779,1.000000,-0.013880,-0.042740,0.066717,0.082088
inq.last.6mths,-0.535511,-0.006826,0.202780,-0.010419,0.029171,0.029189,-0.185293,-0.041736,0.022394,-0.013880,1.000000,0.021245,0.072673,0.149452
delinq.2yrs,-0.076318,-0.008616,0.156079,-0.004368,0.029203,-0.021792,-0.216340,0.081374,-0.033243,-0.042740,0.021245,1.000000,0.009184,0.008881
pub.rec,-0.054243,0.012115,0.098162,-0.032760,0.016506,0.006209,-0.147592,0.071826,-0.031010,0.066717,0.072673,0.009184,1.000000,0.048634
not.fully.paid,-0.158119,-0.044152,0.159552,0.049955,-0.033439,0.037362,-0.149666,-0.029237,0.053699,0.082088,0.149452,0.008881,0.048634,1.000000